:root {
    --tamanho-cabecalho: 5vh;
    --tamanho-corpo: 90vh;
    --tamanho-rodape: 5vh;
}

body {
    margin: 0;
    padding: 0;
}

.cabecalho {
    height: var(--tamanho-cabecalho);
    display: block;
    width: 100%;
}

.corpo {
    height: var(--tamanho-corpo);
    width: 100%;
    background-color: rgba(122, 86, 86, 0.406);
    display: block;    
}

.rodape {
    height: var(--tamanho-rodape);
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 255, 0.214);
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    font-size: 0;
}

li {
    background-color: rgba(37, 198, 209, 0.397);
    width: 25%;
    display: inline-block;
    font-size: 16px; 
}

li a {
    color: black;
    text-align: center;
    display: block;
    text-decoration: none;
    line-height: var(--tamanho-cabecalho);
    height: var(--tamanho-cabecalho);
}

li a:hover {
    background-color: rgba(37, 198, 209, 0.558);
}

.selecionado {
    font-size: 20px;
    background-color: rgba(37, 198, 209, 0.863);;
} 

.corpo p {
    margin: 0;
    padding: 50px 10px 10px 100px;
}

.corpo ul {
    color: red;
}


