/* Define constantes */
:root {
    --tamanho-cabecalho: 5vh;
    --tamanho-corpo: 90vh;
    --tamanho-rodape: 5vh;
}

/* Remove borda padrão do sistema */
body {
    margin: 0;
    padding: 0;
}

/* Define estrutura do cabeçalho */
.cabecalho {
    height: var(--tamanho-cabecalho);
    display: block;
    width: 100%;
}

/* Define estrutura do corpo */
.corpo {
    height: calc(var(--tamanho-corpo) - 2vh);
    width: 80%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(159, 149, 149, 0.14);
    display: block;
    border-radius: 50px;
}

/* Define estrutura do rodapé */
.rodape {
    height: var(--tamanho-rodape);
    width: 100%;
    display: block;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgba(255, 255, 255, 0.611);
}

/* Definição padrão para conteudo dentro do corpo */
.corpo .conteudo {
    padding-top: 5%;
    text-align: center;
}

/* Padronização de lista do cabeçalho */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    font-size: 0;
}

/* Definição de cada item da lista do menu */
li {
    background-color: rgb(218, 146, 146);
    width: 23%;
    display: inline-block;
    font-size: medium;
    border-radius: 500px;
    margin-left: 1%;
    margin-right: 1%;
}

/* Definição da âncora do menu */
li a {
    color: black;
    text-align: center;
    display: block;
    text-decoration: none;
    line-height: var(--tamanho-cabecalho);
    height: var(--tamanho-cabecalho);
    white-space: nowrap;
}

/* Definição da âncora do menu ao passar o mouse */
li a:hover {
    background-color: rgba(37, 198, 209, 0.558);
    border-radius: 500px;
}

/* Definição do menu selecionado */
.selecionado {
    font-size: 20px; 
    background-color: rgba(37, 198, 209, 0.863);
    border-radius: 500px;
}

/* Definição do titulo de formação */
.corpo dt {
    font-size: 25px;
}

/* Definição de imagens no corpo */
.corpo .img-github {
    width: 50px;
    height: 50px;
}

.corpo .img-perfil {
    max-width: 50vw;
    max-height: 50vh;
}

/* Definição geral do corpo para tamanho máximo */
.corpo * {
    max-width: 100%;
}
